body {
	background: #3e2816 url(../images/main.JPG) no-repeat;
	font: 12px "Arial", "Microsoft YaHei";
	color: #333;
}

ul,li,p,h2 {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
	color: #333;
}
/*布局*/
header,nav,section {
	width: 1060px;
	margin: 0px auto;
	overflow: hidden;
}

header {
	margin-top: 70px;
	height: 200px;
}

nav {
	height: 50px;
	background-color: #fff;
}

section {
	padding: 20px 0px;
}

aside {
	width: 280px;
	background-color: #fff;
	border-radius: 5px;
	float: left;
}
/*header部分*/
header {
	background: url(../images/9.png) no-repeat;
}
/*导航部分*/
#nav_list {
	width: 600px;
	margin: 0px auto;
}

#nav_list li {
	float: left;
	width: 100px;
	margin: 0px 50px;
	text-align: center;
	line-height: 50px;
}

#nav_list li:hover {
	line-height: 46px;
	border-bottom: 4px solid #f7691d;
}

#nav_list li a {
	font-size: 16px;
}
/*侧边栏*/
#aside1 {
	padding: 2px;
}

#aside1 li {
	border-bottom: 10px solid #f2f2f5;
}

#aside1 li a {
	display: block;
	padding: 12px 16px;
	font-size: 18px;
	padding-left: 50px;
}

#aside1 li a:hover {
	background-color: #f2f2f5;
}

#aside1 li a b {
	padding-left: 5px;
}

i.photos,i.likes,i.hot,i.albums {
	background-image: url(images/photo.png);
	padding: 0px 9px;
	margin-right: 10px;
}

i.likes {
	background-position: -20px 0px;
}

i.hot {
	background-position: -40px 0px;
}

i.albums {
	background-position: -70px 0px;
}
aside p {
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size:16px;
    margin:5px auto;
}
aside p a:hover
{
    color:#6c6351;
}
aside p b
{
    margin-left:6px;
}
aside p b:hover
{
    color:#eb7350;    
}

/*照片部分*/
#photo_box ul
{
    width: 255px;
    overflow:hidden;
    float:right;
    padding-top:5px;
}
#photo_box li
{
    float: left;
    background: #eee;    
    border:1px solid #ccc;
    border-radius:3px;
    margin:0px 0px 15px 8px;    
    padding:6px;
}
#photo_box li:hover
{
    position:relative;
    top:-3px;
    left:-3px;
}
#photo_box li img
{
    width:232px;
    margin:0px auto;
    cursor:pointer;
}
#photo_box li h2,#photo_box li p
{
    margin:10px 0px 10px 0px;
    line-height:18px;
    padding:0px 10px;
}
#photo_box li h2
{
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
}
#photo_box li p
{
    text-align:right;
}
#photo_box li p a
{
    float:left;
    color: #919191;
}
#photo_box li p a:hover,#photo_box li span
{
    color:#333;
}
#photo_box li span:hover
{
    color: #919191;
}
#photo_box li p b
{
    border-left:1px solid #d9d9d9;
    line-height:18px;
    margin:0px 6px;
}
#photo_info
{
    color:#fff;
    float:right;
    display:none;
}