.say{
    height:auto;
    width:90%;
    font-size:18px;
    margin-left:5%;
    margin-right:5%;
    border-style:solid;
    border-width: 1px;
    border-color: blue;
}
.bbs{
    margin-top: 0;
    background-color: rgba(145, 145, 145, 0.68);
}
.bbs #zan{
    margin-left: 4%;
}
.pinglun ol li{
    list-style:none;
}
.pinglun ol #first{
    margin-left: 2.5%;
}
.pinglun ol #oth{
    margin-left: 15%;
    margin-right:40%;
    text-align: right;
}
.pinglun ol li img{
    width:50px;
    height:50px;
}
.pinglun #pdiv{
    margin-left: 10%;
    margin-bottom:8%;
}
span{
    color: gray;
}